@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="text-center">
        @* Check if TempData contains our logout message *@
        @if (TempData.ContainsKey("LogoutMessage"))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["LogoutMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        
    </div>
</div>
